

nav {
  background-color: #68D8E8;

}

h1 {
  color: #3D5DFF;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 0 5px gray;
}

/*
a {
  color: white !important;
}
*/


#bootstrap-overrides {
  color: white;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  html {
    font-size: 1.25rem;
  }
}
